.Menu td {
    min-width: 13.5vw;
    max-width: 1vw;

    border-collapse: collapse;
    max-width: 800px;
    padding: 5px;
    vertical-align: top;
}

.Menu .Day {
    min-width: 250px;
    border-radius: 20px;
    align-content: center;
    background: white;
}

.Day input {
    font: inherit;
    border: none;
    text-align: center;
    background-color: inherit;
    color: inherit;
}

.Menu .Day .Header {
    height: 60px;
    text-transform: uppercase;

    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;


    display: flex;
    align-items: center;
    justify-content: center;
}


.Meal .MealHeader {
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.Meal .Body .DishItem {
    display: flex;

    #amount {
        width: 20px;
        padding: 5px;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    #name {
        width: 100%;
        padding: 5px;
    }
}