.Menu {
    overflow: auto;

    height: 100%;
    flex-grow: 1;

    display: flex;
    padding: 10px;

    background: lightblue;
}

.Menu td {
    min-width: 13.5vw;
    max-width: 1vw;

    border-collapse: collapse;
    max-width: 800px;
    padding: 5px;
    vertical-align: top;
}

.Menu .Day {
    min-width: 250px;
    border-radius: 20px;
    align-content: center;
    background: white;
}

.Menu .Day .Header {
    background-color: #1a237e;
    text-transform: uppercase;

    border-radius: 20px 20px 0px 0px;

    color: white;
    height: 50px;
    display: flex;

    font-size: large;
    font-weight: bold;

    padding: 10px;
    align-items: center;
    justify-content: center;
}

.Menu .Meal {
    margin: auto;
}

.Menu .Meal .MealHeader {
    font-size: auto;
    font-weight: bold;
    color: white;

    height: 40px;
    padding: auto;

    background-color: #579dff;
    display: flex;

    align-items: center;
    justify-content: center;
}

.Menu .Meal .Body {
    vertical-align: top;
    display: flex;
    flex-direction: column;
}

.Menu .Meal .Body .DishItem {
    font-size: 16px;
    display: flex;
    padding: 5px;

    #amount {
        width: 20px;
        padding: 5px;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    #name {
        width: 100%;
        padding: 5px;
    }
}

.Menu .Focus {
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: center;
    padding: 100px;

    dialog {
        padding: 0px;
        max-width: 90%;
        width: 500px !important;
        border-radius: 20px;
        border: 1px solid black;
    }
}

.Menu .Focus .FocusHeader {
    background-color: #579dff;
    color: white;
    height: 50px;
    font-size: larger;
    font-weight: bold;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Menu .Focus dialog .FocusBody {
    padding: 10px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: top;
}

.Menu .Focus dialog .FocusBody 

.Menu .Focus dialog .FocusFooter {
    background-color: rgb(255, 196, 85);
    height: 50px;
    width: 100%;

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        font-size: 20px;
        width: 100%;
        height: 100%;
        font-size: auto;
        background-color: transparent;
    }
}