.Pantry {
    overflow: auto;
    background: lightblue;
    width: 100%;
    border-left: #1a237e;

    height: 100%;
    flex-grow: 1;
    display: flex;

    table {
        margin: auto;
        align-items: center;
        width: fit-content;
        text-align: left;
        border-collapse: collapse;
        border-left: 1px solid #1a237e;
        border-right: 1px solid #1a237e;

        thead {
            position: sticky;
            top: 0;
            color: white;
            text-align: center;
            background-color: #1a237e;
            font-size: auto;
            height: 40px;
            font-weight: bold;

            #units {
                background: #405adb;
            }

            #packs {
                background: #6aa2f0;
            }
        }

        tbody {
            overflow: auto;
            font-size: auto;

            .Label {
                width: 400px;
                text-align: left;
                padding-left: 20px;
                padding: 10px;
            }

            .Select {
                width: 200px;
                text-align: center;
                padding-left: 20px;

                input {
                    width: 50%;
                    height: 100%;
                    font-size: auto;
                    text-align: right;
                }
            }

            .Number {
                width: 200px;
                text-align: right;
                padding-right: 10px;
            }

            #odd {
                background: #ffffff;
            }

            #even {
                background: #eeeeee;
            }

            #mouseover {
                background: lightblue;
            }
        }

        tfoot {
            position: sticky;
            bottom: 0;
            font-size: auto;
            background:  #85a9db;
            height: 60px;


            .Label {
                width: 200px;
                text-align: left;
                padding-left: 20px;
            }

            .Number {
                width: 300px;
                text-align: right;
                padding-right: 20px;
            }
        }
    }

    .Dialog {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80%;

        dialog[open] {
            width: 80%;
            max-width: 400px;
            border-radius: 10px;

            h1 {
                text-align: center;
                font-weight: bold;
            }

            p {
                text-align: left;
                text-justify: distribute-all-lines;
                width: 95%;
                margin: auto;
                padding: 10px;
            }

            .Amount {
                font-weight: bold;
            }

            .OK {
                text-align: center;
                button {
                    background-color: lightgray;
                    width: 95%;
                }
            }
        }
    }
}