#pantry-ingredient dialog {
    max-height: 100%;
}

#pantry-ingredient div.vert-scroll {
    justify-content: left;
    max-height: 30vh;
    
    display: flex;
    overflow: auto;
    flex-direction: column;
}

#pantry-ingredient div.scroll-table {
    justify-content: left;

    >table {
        border: none;
    }

    >table thead {
        background-color: lightblue;
        padding: 0px;
        margin: 0px;

        >tr {
            border: none;
        }
    }

    >table td {
        padding: 5px;
    }
}
