body {
  margin: 0;
  font-size: 100%;
  background: lightblue;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#odd {
  background: #eeeeee;
}

#even {
  background: white;
}

#highlight {
  background: rgb(255, 196, 85);
}

#lowlight {
  background: lightgray;
  color: gray;
}

#header1 button#X {
  width: 40px;
  height: 40px;
}

#header1 {
  background: #1a237e;
  color: white;
  font-size: 115%;
  font-weight: bold;
}

#header2 {
  background: #579dff;
  color: white;
  font-size: 105%;
  font-weight: bold;
}


button {
  font: inherit;
  background: whitesmoke;

  height: 40px;
  margin: 10px;

  border: none;
  border-radius: 5px;

  cursor: pointer;
}

button:hover {
  background-color: #f0f0f0;
}

dialog {
  z-index: 99;

  justify-self: center;
  display: flex;
  flex-direction: column;

  padding: 0px;
  margin-top: 100px;

  max-width: 90%;
  width: 500px;

  border-radius: 20px;
  outline: 1px solid black;
  border: none;

  >#header {
    height: 50px;
    width: 100%;

    margin: 0px;

    background-color: #579dff;

    color: white;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: inherit;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  >#body {
    width: 100%;
    margin: 0px;
    padding: 0px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100px;

    >* {
      margin: 10px;
    }
  }

  >#footer {
    background-color: rgb(255, 196, 85);
    height: 50px;
    width: 100%;

    border-radius: inherit;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;

    button {
      width: 100%;
      height: 100%;

      margin: 0px;
      padding: 0px;

      border-radius: inherit;
      border: none;
      background: inherit;

      &#dialog-left {
        border-top: 1px solid black;
        border-radius: inherit;
        border-bottom-right-radius: 0px;
      }

      &#dialog-right {
        border-top: 1px solid black;
        border-left: 1px solid black;
        border-radius: inherit;
        border-bottom-left-radius: 0px;
      }
    }
  }
}

.scroll-table {
  width: 100%;

  height: 100%;
  flex-grow: 1;
  display: flex;

  flex-direction: column;
  justify-content: top;
}

.scroll-table>table {
  align-self: center;

  border-collapse: collapse;
  border-left: 1px solid #1a237e;
  border-right: 1px solid #1a237e;

  max-width: 100% !important;
  width: 800px;
  font: inherit;

  thead {
    position: sticky;
    top: 0;
    max-height: 5vh !important;
    height: 60px;
    text-align: center;
  }

  tbody {
    overflow: auto;

    td {
      cursor: pointer;
      padding: 10px;
      text-align: center;
      min-width: fit-content;

      input[type="number"] {
        width: 80px;
        text-align: right;
        font: inherit;

        border: none;
        box-shadow: 0 0 3px 0 black;

        border-radius: 10px;
      }

      input[type="checkbox"] {
        border-radius: 10px;
      }
    }
  }

  tfoot {
    position: sticky;
    bottom: 0;
    height: 60px;
  }
}


.scroll-table #left {
  text-align: left;
  padding-left: 20px;
}

.scroll-table #right {
  text-align: right;
  padding-right: 20px;
}

.scroll-table #clear {
  margin: 0px;
  padding: 0px;
  height: 30px;
  width: 30px;
}

div#rootdiv {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: lightblue;
}

section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: scroll;
}

input[type='number'] {
  -moz-appearance:textfield;
  appearance: textfield;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.search-table-search {
  align-self: center;

  display: flex;
  flex-direction: row;
  justify-content: center;

  margin-top: 20px;
  margin-bottom: 5px;

  width: 95%;
}

.search-table-search input {
  width: 100%;
  height: 50px;
  background: whitesmoke;

  max-width: 500px;
  align-self: center;

  border: none;
  font-size: 150%;

  text-align: center;
}

.search-table {
  display: flex;
  flex-wrap: wrap;
  align-self: center;

  width: 95%;
  max-width: 500px;
}

.search-table #body {
  width: 100%;
  font: inherit;

  display: flex;
  flex-direction: column;

  margin: none;
  padding: none;
}

#error {
  color: darkred;
}

.search-table #body #error {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;

  font-weight: bold;
  text-align: center;
}