button+.save-button {
    width: 120px;
    padding: 10px;

    &#idle{
        color: inherit;
    }
    
    &#busy{
        color: inherit;
    }
    
    &#done{
        color: green;
    }
    
    &#error{
        color: red;
    }
}