.save-button {
    width: fit-content;
    padding: 10px;

    &#idle{
        color: inherit;
    }
    
    &#busy{
        color: inherit;
    }
    
    &#done{
        color: green;
    }
    
    &#error{
        color: red;
    }
}