.TopBar {
    background: lightgray;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;

    p {
        font-weight: bold;
        color: black;
        padding: 10px;
        margin: 10px;
        vertical-align: middle;
    }

    .Title {
        display: flex;
        align-items: center;
        cursor: pointer;

        .Text {
            font-weight: bold;
            color: black;
            margin: 10px;
            vertical-align: middle;
            margin: auto;
        }

        .Logo {
            scale: auto;
            height: 100%;
            margin: auto;
            padding: auto;
            vertical-align: middle;
            border-radius: 100%;
        }
    }
}
