.search-table-row#expanded:hover {
    background-color: white;
}

.search-table-row#expanded #editing {
    cursor: default;
}

.search-table-row .title input {
    width: 95%;

    font: inherit;
    font-weight: inherit;
    

    text-indent: 5px;
    margin-left: 5px;

    border: 1px solid black;
}

.search-table-row .body>div {
    align-self: center;
    margin: 0px 20px 0px 20px;
    width: calc(100% - 40px);
}

.search-table-row .body #buttons {
    align-self: center;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

.search-table-row .body #buttons button {
    width: 100%;
    margin: none;
    padding: none;

    border: none;
    border-radius: 10px;

    color: black;
    font-weight: bold;
    font-size: 80%;
    text-align: center;
}

.search-table-row .body #buttons #happy {
    background-color: lightgreen;
}

.search-table-row .body #buttons #revert {
    background-color: hsl(60, 90%, 50%);
}

.search-table-row .body #buttons #delete {
    background-color: hsl(0, 79%, 85%);
}

.search-table-row .ingredient {
    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.search-table-row .ingredient #amount {
    width: 100px;
    margin: 10px;
    text-align: right;
}

.search-table-row .ingredient #amount span {
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    margin: inherit;
    text-align: inherit;
    font: inherit;
}

.search-table-row .ingredient #amount input {
    width: 100%;
    height: 100%;
    padding: none;
    margin: none;
    border: 1px solid black;
    font: inherit;
    text-align: right;
}

.search-table-row .ingredient #amount input#error {
    background-color: hsl(0, 79%, 85%);
    text-align: right;
}

.search-table-row .ingredient #name {
    width: 100%;
    margin: 10px;
    text-align: left;
}

.search-table-row .ingredient #price {
    width: 50px;
    margin: 10px;
    text-align: right;
}

.search-table-row #total .ingredient {
    font-weight: bold;
    border-top: 1px solid black;
}

.search-table-row .ingredient button {
    width: 50px;
    margin: 10px;
    padding: none;

    border: none;
    border-radius: 10px;

    color: black;
    font-weight: bold;
}

.search-table-row .ingredient button#remove {
    background-color: hsl(0, 79%, 85%);
}

.search-table-row .ingredient button#add {
    background-color: lightblue;
}